[2015-08-31 00:06] bianchimro opened #1 "Multiple selects"
Allow to select multiple values.
The order should not count.

[2015-08-31 12:19] bianchimro opened #2 "Search bar"
Add options to insert a search bar to filter available options

[2015-09-01 23:56] fmendoza opened #3 "Selected value callback"
Hi, great directive, just one question. If i want to do certain action when one of the options is selected, how can i do it? It seems i only have the option to manually watch the model.

[2015-09-02 05:50] bianchimro commented on #3
You're right, there's no callback option right now.
I'll add this option, thanks for the idea!

I think the api will be something like

[code]

What do you think?

[2015-09-02 06:08] bianchimro commented on #3
Added the option, still undocumented.

[2015-09-02 09:09] michelevirgilio opened #4 "option-getter is called many many times"
The option-getter callback is not called once when the user choose the option, but many times both when opening modal and when selecting.

This issue is present in the codepen sample, too.

[2015-09-02 09:32] bianchimro commented on #4
The option-getter is called to determine the value associated with an option, in order to add the css class to the sected option.
It's not to be considered a callback but a way to get the model value from the option object.

[2015-09-02 09:32] #4 closed

[2015-09-02 17:45] fmendoza commented on #3
Just tested, it works :)

[2015-09-02 20:55] bianchimro commented on #3
@fmendoza thanks for testing, closing issue.

[2015-09-02 20:55] #3 closed

[2015-10-15 22:08] s1lviu opened #5 "option-getter not working"
<p>Hello! <br>
I have :</p>

<p>JS</p>

<pre><code> $scope.selected = function(Name){
            console.log(Name);
        };
</code></pre>

<p>and HTML</p>

<pre><code>&lt;div class="item item-body" ng-if="items"&gt;
            &lt;button class="button button-dark" modal-select="" ng-model="selectedname"  option-getter="selected(Name)"
                    options="items"  modal-title="Alege lo

[2015-10-15 22:19] s1lviu opened #6 "on-select returns undefined"
<p>Hello! <br>
I have :</p>

<p>JS</p>

<pre><code> $scope.selected = function(New, Old){
            console.log(NeW + ' and ' + Old);
        };
</code></pre>

<p>and HTML</p>

<pre><code>&lt;div class="item item-body" ng-if="items"&gt;
            &lt;button class="button button-dark" modal-select="" ng-model="selectedname"  on-select="selected(New,Old)"
                    options="items"  mod

[2015-10-16 07:45] lupuandrei commented on #6
I solved the problem.
"function call with arguments newValue and oldValue".

The parameter names are very important, "newValue" and "oldValue".

            <button class="button button-dark" modal-select="" ng-model="selectedname"  on-select="selected(newValue, oldValue)"
                    options="items"  modal-title="Alege locatia">
               Alege
                <div class="option">

[2015-10-16 13:31] s1lviu commented on #6
Merci, @lupuandrei !
Functioneaza acum. :+1:
Dar option-getter tot imi face figuri: https://github.com/inmagik/ionic-modal-select/issues/5

[2015-10-22 15:23] bianchimro commented on #6
so, closing this, @lupuandrei answered correctly.
@s1lviu thanks for the feedback, but plz write in english!

[2015-10-22 15:23] #6 closed

[2015-10-22 15:26] bianchimro commented on #5
@s1lviu `option-getter`, if set to a function call, accepts a parameter callled `option` (the parameter name is important in this case, as per #5), as function is passed into scope with a reference (`&`)

[2015-10-22 15:26] #5 closed

[2015-10-22 15:28] s1lviu commented on #5
I understand now. Thanks!

[2015-11-02 13:23] voznik opened #7 "`on-select` not working in bower version"
`on-select` works in your codepen.io but not working through bower installation in my project.
is it paid feature?

[2015-11-02 13:25] bianchimro commented on #7
hi @voznik , there are no difference between "paid" and "free" versions.
that should work with bower.

see if #6 resolves your issue

[2015-11-03 11:34] ulion opened #8 "the compare with selected option failed if options is an object"
getSelectedValue(option) == ui.value

the above compare will never return true if ui.value is the object which is same with the option (but obviously the object compare doesn't return true for some reason)

[2015-11-05 10:40] bianchimro commented on #8
@ulion thanks for reporting.

can you provide a plunkr or codepen to show the issue?
Everything seems fine in the demo:

http://codepen.io/bianchimro/pen/epYYQO?editors=101

[2015-11-05 11:22] ulion commented on #8
that happened when you saved the select option, but reload the page again,
e.g. load from saved data, you have a saved object, it has same content as
the one in the option list, but it's different object.

that means, current implement can not judge they are the same object, or
should be treat as same. maybe, we just need to support user can setup a
function, which take 2 option values then compar

[2015-11-06 02:36] ulion opened #9 "option render problem"
yes, we can use

[code]

But, when I try this:

[code]

the function always got undefined as the parameter.

[2015-11-06 02:54] ulion opened #10 "support set option item class"
some times we want display some option items with other class, e.g. disabled, and which is unselectable, but current implement does not allow us to do that.

[2015-11-07 01:47] bianchimro commented on #9
The directive has a private scope so your function does not get found.
I don't plan to change this design right now, but you can bypass this restriction by calling that function directly on your controller on options before passing them to the directive
Not sure if it's right design but It makes more sense to me.

[2015-11-07 01:47] #9 closed

[2015-11-07 01:49] bianchimro commented on #10
good idea, this is a nice feature to have.

[2015-11-17 00:04] #7 closed

[2015-11-23 13:44] crissi commented on #2
+1

[2015-12-02 12:04] ichagas commented on #2
+1

It will be a killer feature if there is a search bar option for larger datasets

[2015-12-02 19:56] danielpflood opened #11 "Cannot style cancel button"
Do you know why I am unable to affect the width of the cancel button with css?

[2015-12-02 19:58] danielpflood commented on #11
Never mind, user error >.<

[2015-12-02 19:58] #11 closed

[2015-12-03 07:00] Mavlarn opened #12 "Why both js and min js are in bower"
Now it is :
"main": [
    "dist/ionic-modal-select.js",
    "dist/ionic-modal-select.min.js"
  ],

I use wiredep, that setting causes the both js files are included in my index.html.

[2015-12-03 07:06] Mavlarn opened #13 "My on-select function can not get called"
I use the master code, but the on-select function is not called.

[2015-12-03 10:45] bianchimro commented on #13
have you seen #6 ?

[2015-12-03 10:46] #2 closed

[2015-12-03 10:52] bianchimro commented on #12
Sorry, I have not much experience about this.
What would you suggest to do?
Just keep the minified?

[2015-12-03 11:56] Mavlarn commented on #12
In the normal, the non-minified version will be in main ja.

[2015-12-03 11:57] Mavlarn commented on #13
Sorry.
Thanks.

[2015-12-03 11:57] #13 closed

[2015-12-03 11:59] #12 closed

[2015-12-03 12:00] Mavlarn commented on #13
Sorry, another issue about this, It seems that the version 1.0.0 doesn't contain the support of 'on-select', could you release a new version for that?
Thanks.

[2015-12-03 12:04] bianchimro commented on #13
@Mavlarn  You mean moving the tag v1.0.0 to another commit?

[2015-12-16 07:04] yehuda54 commented on #1
Please add this support

[2015-12-18 00:54] arun0009 opened #14 "Two fancy selects on same page with search"
I was able to add 2 select drop downs on a single page. However, if I add the search functionality and search by text, the second dropdown shows only the options that matched the search text for first option in the drop down.

[2015-12-18 05:19] arun0009 commented on #14
I had to create 2 buttons with different scopes and it started working. If I use the same scope to display two drop downs it stores the entered text and only displays options matching that text. Also, is there a way to clear it? With 2 scope variables if I select different values and go back to select it has the entered select search and isn't clearing off on relaunch of select.

[2015-12-18 07:40] bianchimro commented on #14
hi @arun0009 thanks for reporting. can you provide a codepen to show this problem?

[2015-12-18 19:33] arun0009 commented on #14
Hi @bianchimro thanks for your quick response & awesome repo! Absolutely love the fancy select functionality.

Here the codepen: http://codepen.io/arun0009/pen/zrqavN?editors=101

What I'm trying to do is display quick times based on source and destination (which share the same stations). So I have two issues (first one i solved by using same array of select options by adding it to different scope

[2015-12-19 18:06] #14 closed

[2015-12-19 18:11] bianchimro commented on #14
@arun0009 glad you like this repo, thanks!

should be fixed in master, check this pen forked from yours:
http://codepen.io/bianchimro/pen/bEpZww?editors=101

Now you can avoid setting two different options array.

(Maybe we should provide an option to clear the search bar after an option if chosen.)

[2015-12-19 18:13] bianchimro opened #15 "clear search bar after selection"
After selecting an option, probably the search bar should be cleared.
We could make this behavior an opt-in or an opt-out by setting some attibute (for example `clear-search-bar`

[2015-12-30 09:28] crissi opened #16 "Newest version: It stopped working with delayed data"
If the data for the ionic-modal-select is not populated right away, but is is populated later with an ajax call the modal is not showing anything.

This worked in an earlier build.

[2015-12-30 09:35] crissi commented on #16
before the searchbar

[2015-12-30 09:38] bianchimro commented on #16
@crissi  thanks for reporting.

can you provide a codepen or something tho show the issue?

[2015-12-30 11:40] crissi commented on #16
http://codepen.io/anon/pen/qbqKLr?editors=101

The value that is set to start with is set, but it does not change if I set new content... Also tried to use angular.copy.

[2015-12-30 13:38] #16 closed

[2015-12-30 13:39] bianchimro commented on #16
@crissi should be working now

[2016-01-01 22:59] svzosorio opened #17 "Don't detect on-select changes when use reset button"
I need a alternative for know when user reset the value but $scope.watch() or on-select does not work.

[2016-01-02 09:50] bianchimro commented on #17
Hi @svzosorio
maybe we could add an explicit 'on-reset' callback for this case.

can you provide an example of what you need to sccomplish (for example a codepen) ?

[2016-01-02 13:45] bianchimro commented on #8
@ulion can you provide a codepen where data is saved and loaded from localstorage so we can use it to test against this issue?
thanks

[2016-01-02 20:04] joseescaballero opened #18 "Hoy can i use a filter for options?"
I would like to use filter in options. Something like

 <button class="button button-assertive" modal-select="" ng-model="someSetModel" options="selectableNames | filter:myFilter" option-property="name">

¿how can i use?. I saw the option "use-collection-repeat" but no examples.

thanks

[2016-01-02 22:15] ulion commented on #8
http://codepen.io/anon/pen/EPZmyq

2016-01-02 21:45 GMT+08:00 Mauro Bianchi <notifications@github.com>:

--
Ulion

[2016-01-03 00:36] #8 closed

[2016-01-03 00:40] bianchimro commented on #8
@ulion thanks for the codepen
should be fixed now.

[2016-01-03 00:44] bianchimro commented on #18
`options` must be an array, and not an expression like those used in ng-repeat or collection-repeat directives.

"use-collection-repeat" does another thing: it forces rendering the options list with  ionic collection-repeat instead of angular ng-repeat.

As of now, you must filter the options before passing them to directive.

Anyway, I think it's a good idea to pass the "repeater" expression to t

[2016-01-03 00:44] #18 closed

[2016-01-03 00:47] bianchimro opened #19 "Pass the "repeater" expression from directive to ng-repeat and collection-repeat."
Instead of forcing to pass an array of items, an expression to be used in ng-repeat or collection repeat could be passed to the directive, allowing to use, for example, angular filters in the expression.

[2016-01-03 00:52] bianchimro commented on #18
see #19

[2016-01-03 03:21] danielpflood opened #20 "has no method 'remove'"
<h2>Error log</h2>
`TypeError: Object #<HTMLDivElement> has no method 'remove'  at link (file:///android_asset/www/lib/ionic-modal-select/dist/ionic-modal-select.js:120:17)`

<p>Won't load on older devices.</p>

[2016-01-03 09:12] joseescaballero commented on #18
Perfect. I hope you improve soon.

Thanks

Un cordial saludo

Pepe Caballero

El 03/01/2016 a las 1:52, Mauro Bianchi escribió:

[2016-01-03 10:53] bianchimro commented on #20
@danielpflood thanks for your PR. merged!

[2016-01-03 10:53] #20 closed

[2016-01-03 11:04] #17 closed

[2016-01-03 11:05] bianchimro commented on #17
@svzosorio Added `on-reset` callback. See if this helps with your use case.

[2016-01-03 18:01] #19 closed

[2016-01-03 18:05] bianchimro commented on #18
hey @joseescaballero what you asked should be doable now, using `options-expression` attribute instead of `options`. see also the exampled named "repeat expression with filter" in the current test codepen: http://codepen.io/bianchimro/pen/epYYQO?editors=101

best regards
Mauro

[2016-01-03 19:51] joseescaballero commented on #18
Perfect!! it works now.

thanks too much

Un cordial saludo

Pepe Caballero

El 03/01/2016 a las 19:05, Mauro Bianchi escribió:

[2016-01-04 08:21] svzosorio commented on #17
Its perfect, whats is the support version for this feature?

[2016-01-04 09:29] bianchimro commented on #17
Will be 1.2, still working in a couple of issues before making that release.

[2016-01-04 12:40] AdrienDC opened #22 "Selected value by default"
Hi, amazing job.
Just a issue I have with a value I want to select by default, am I supposed to use selected-class ?
If yes, how to use it?

Thanks vm

[2016-01-04 12:52] bianchimro commented on #22
hi,
I don't think we need an option for a default value, as you can just set the selected option by setting your model to the desired default.

Does this solve your problem ?

[2016-01-04 16:50] AdrienDC commented on #22
hi @bianchimro ,
I'm not sure to have totally understood how to do it. In my view I have :

``
<button class="button button-positive button-clear" modal-select ng-model="selectedCountry"  options="country" header-footer-class="bar-positive" has-search="false" modal-title="Select a country"
                sub-header-class="bar-calm"><b>
                    Country</b> {{selectedCountry}}

[2016-01-04 18:29] bianchimro commented on #22
Ok, to provide a default selection, in your controller you can just do this to provide an initial selection (for example "Italy" ):
[code]

and your modal select will start with "Italy" selected (of course the option should be in your array)

If you want more help, consider providing a codepen or plunkr.

Closing this for now (not really an issue with the library), but let me know if you can imple

[2016-01-04 18:29] #22 closed

[2016-01-05 02:38] AdrienDC commented on #22
Thanks a lot @bianchimro, I didn't realized it was that simple :+1:

[2016-01-05 15:31] AdrienDC commented on #22
hi @bianchimro

Actually, I have an issue with defining like this. I applied the default selected country like you suggested but afterward I needed to update my modelname to $scope.data.selectedCountry instead of $scope.selectedCountry.

By doing this, I am not able to set the default value anymore and got this error from my controller: error    TypeError: Cannot set property 'selectedCountry' of

[2016-01-05 16:53] bianchimro commented on #22
mmh ... I don't understand why you had to do this.

difficult to help without seing the code. Can you post a codepen?

[2016-01-06 02:26] AdrienDC commented on #22
yeah I had to do this in order to put back a default value of the modal select when my toggle is activated. Finally to solve this issue , I had to call a function in ng-init which initiate $scope.data.selectedCountry to my default value instead of doing it in the controller directly ... even if it's not recommended.

[2016-01-08 15:47] bianchimro commented on #10
Deferred to 1.3 milestone as this is mode difficult than I thought initially:

* Right now, all options al wrapped into an `.item .item-text-wrap' element, but probably there are cases when we want to drop these classes and choose other ones.
* beside the class problem, setting a class dynamically involves writing an expression which must be evaluated in the option scope.

The only solution I can

[2016-01-08 17:00] #15 closed

[2016-01-12 09:27] AdrienDC opened #23 "Additional delay in rendering data since 1.2"
Hi,
i noticed, there's a slight delay when rendering the select list since the v. 1.2

http://codepen.io/bianchimro/pen/epYYQO

Is it expected? Before 1.2, the list was showing smoothly.

Thanks

[2016-01-12 09:44] #23 closed

[2016-01-12 09:46] bianchimro commented on #23
hi @AdrienDC ,
should be better now (in master branch, not in bower yet.)

this applies only to options rendered in "short list" mode
good catch, thanks!

[2016-01-12 10:31] AdrienDC commented on #23
Thanks @bianchimro ! The behavior is really nice now :+1:

[2016-01-18 08:29] aldimol opened #24 "mousewheel"
mouse wheel does not work (scroll long list) in firefox

[2016-01-18 10:45] bianchimro commented on #24
Hi @aldimol
thanks for reporting.

Do you think this issue is related to this component or to ionic framework in general?

[2016-01-18 14:29] bianchimro opened #26 "modal-select tests: help wanted!"
The situation about tests is the following:
- Testing environment has been setup with **gulp** and **karma**
- Only tests for the `compile` directive have been added (in `tests/compile-directive.tests.js`)
- **The rest of the project completely lacks tests**

I've put some effort in trying to write tests for the main `modal-select` directive, but couldn't get to a good solution about testing the c

[2016-01-19 11:59] redsoft7 opened #27 "Options to set search placeholder"
There is not option to set the string for the search placeholder

[2016-01-19 15:11] #27 closed

[2016-01-19 15:12] bianchimro commented on #27
fixed in master: you should be able to set the placeholder via `search-placeholder` attribute.

[2016-01-19 16:25] aldimol commented on #24
to ionic framework in general

[2016-01-19 16:29] bianchimro commented on #24
hi @aldimol

Please refer to the ionic forum or ionic repo and issues on github for reporting this issue then.
(a good idea would be checking the issues first to see if someone else already reported this).

Ok, so I'm going to close this issue, as we cannot do a lot in the repo.

[2016-01-19 16:29] #24 closed

[2016-01-19 16:31] bianchimro commented on #24
@aldimol  if you are interested in reopening, please provide a codepen with:

- a modal created directly with ionic **not shoiwing** the mousewheel issue
- a modal-select created with `modal-select` directive **showing** the issue.

thanks!

[2016-01-19 17:46] aldimol commented on #24
The problem is not solved by the developer.
No time to wait for the decision, put factor 40 on the vertical scrolling.
         self.scrollBy (
           (e.wheelDeltaX || e.deltaX || 0) / self.options.wheelDampen,
           (-e.wheelDeltaY || e.deltaY * 40 || 0) / self.options.wheelDampen
         );
Sorry for my bad english
thanks!

[2016-02-02 19:16] mikehenken commented on #1
+1

[2016-02-05 07:16] aldimol opened #29 "search & scroll"
Sorry for my bad english
Example:
Long list of numbers (1 ... 99)
If at first to scroll to end array (ex. 99) and then select a search (ex. 1), the result is not placed at the beginning of the selected values (1, 10, 11 etc).

[2016-02-13 07:15] AjRev commented on #10
Dear Blanchimro,

I am working on a test application ; pretty new to ionic and angular. I installed your plugin as per your instructions but I get the error 'ReferenceError: modalSelectTemplates is not defined'. I couldn't find this template under the ionic-modal-select folder. I am sure that I am missing something basic here. Appreciate your guidance. Thanks.

Regards,

Aj

[2016-02-13 10:51] bianchimro commented on #10
hi @AjRev it's difficult to help you without seeing the code.
Anyway, afaik, seems like maybe you are including the plugin from the `src` folder and not from the `dist`.

[2016-02-15 09:56] AjRev commented on #10
Thank You Mauro! I just added the following line to my index.html file and it works fine.

<script src="lib/ionic-modal-select/dist/ionic-modal-select.js"></script>

[2016-02-21 21:28] AhsanAyaz opened #31 "Does not select '0' as an option (if integer)"
If you provide numbers as options and 0 has to be one of the options, it is never selected because of the check if(!option)

[2016-02-22 08:24] bianchimro commented on #31
Hi @AhsanAyaz , thanks for reporting!
It should be a quick fix, I'm going to fix it as soon as possible!

[2016-02-22 09:29] #31 closed

[2016-02-22 09:31] bianchimro commented on #29
hi @aldimol , I understand your point.
Probably we should scroll to top if the filtering has some effect.
What do you think about?

[2016-02-22 10:20] bianchimro commented on #31
@AhsanAyaz should be fixed in master. can you confirm that it works for your use case?

[2016-02-22 10:24] AhsanAyaz commented on #31
@bianchimro  Sure I'll check and let you know in a few hours.
What I did at my end was that I changed the options to string values :) So it worked.
Btw i was working on a project and it had options from -20 to +20 with an interval of 0.25
The requirement was having "0" at middle so I worked on scrolling to a particular element. And it works fine.
I still need to clean up some code. Will fork your

[2016-02-23 07:23] flamed68 opened #32 "Modal-Select layout issues - windows phone 8.1"
your plugin working perfectly on iOS and Android device. But, getting issues when adding for WP. modal-select options are not showing correctly. please see the attached image.
![capture](https://cloud.githubusercontent.com/assets/2519754/13244470/6a05a41c-da2c-11e5-88e9-e683d09b7490.PNG)

[2016-02-28 02:14] kaustubhkushte commented on #1
+1

[2016-03-03 18:05] luiscvalmeida opened #33 "Bower registry not getting the most recent version"
Don't know if I'm doing this wrong, but I'm doing `bower install ionic-modal-select` and it downloads the the 1.1.2 version while I think it should download the 1.2 version.
I even tried to force to install the 1.2 but it couldn't find it.

[code]

I decided to install it using the git url, pointing to the master branch, like so:
`$ bower install https://github.com/inmagik/ionic-modal-select.git#m

[2016-03-03 18:16] luiscvalmeida opened #34 "options-expression with track by doesn't apply order"
Here: http://codepen.io/anon/pen/PNqvWE?editors=101

If you remove the `track by name.id` it orders just fine by the name. Using `track by` the ordering stops working.

[2016-03-04 00:01] bianchimro commented on #34
hi @luiscvalmeida

Just gave a quick, look, i think it should read

`options-expression="name in selectableNames  | orderBy:'name' track by name.id "`

(track by is **after** order by)

https://docs.angularjs.org/api/ng/directive/ngRepeat

This seems to fix ordering for me

[2016-03-04 00:02] luiscvalmeida commented on #34
@bianchimro duh, sorry for this and thanks!

[2016-03-04 00:02] #34 closed

[2016-03-04 00:06] bianchimro commented on #34
.. that's I mistake I make frequently too, that's why I catched id quickly ;)

regards
Mauro

[2016-03-04 14:19] redsoft7 commented on #27
When the next repository tag is planned?

[2016-03-04 20:45] AbdallahBaddour opened #35 "button submit the form by default"
Hello,
very helpful plugin and easy to use.
There is a problem that the form is submitted directly after we click the button that open modal, so you need to add `type="button"` to the button attribute in order to solve this problem.

Thanks.

[2016-03-05 10:57] bianchimro commented on #35
hi @AbdallahBaddour and thanks for reporting.
will fix it as soon as I can
Best regards

[2016-03-05 19:57] #35 closed

[2016-03-05 20:00] bianchimro commented on #32
Hi @flamed68
i am very sorry but right now I have no chance to test it now on a windows phone or emulator to work to solve this problem.
If you feel so and want to help with this I'll be happy to accept PRs

[2016-03-05 20:14] bianchimro commented on #33
Hi @luiscvalmeida
seems like I make some mess with releases.
I had to drop the 1.2 to fix thinks.
Now you should be able to download the 1.3.0 via bower.

let me know if it works, closing for now

[2016-03-05 20:14] #33 closed

[2016-03-05 20:16] bianchimro commented on #27
@redsoft7
just released 1.3.0
(and dropped 1.2 as was not even registered in bower)

[2016-03-06 11:01] bianchimro opened #36 "update gh-pages with search-options docs and examples"

[2016-03-07 10:31] redsoft7 commented on #27
Thanks!

[2016-03-09 20:42] xavierxc14 opened #37 "Open another modal on selection"
Hi I really like your directive, but I would like a multi select feature o support to trigger a new modal from the controller(for example, inside the on-select callback)

[2016-03-23 16:37] bianchimro commented on #37
hi @xavierxc14,
triggering a new modal doesn't seem a good pattern to me.
I'd stay with the multiple selectable options feature as requested in  #1

[2016-03-23 16:37] #37 closed

[2016-03-27 15:13] eskatos opened #39 "Selected option in template"
Using `<div class="option">{{option....}}</div>` one can access all properties of `option` to build the selection list display.

One can also use `option-property` or `option-getter` to get/build the ngModel value.
But then, one can't get a handle on the selected `option`.

It would be nice to have the selected option, if any, available in scope inside the directive so one can build a proper displ

[2016-03-27 17:07] bianchimro commented on #39
hi @eskatos,
makes sense to me, and should be quite easy to implement.
thanks for the idea, I will add this feature ASAP.

best regards
Mauro

[2016-03-27 17:17] senthil-asdra opened #40 "Multiple buttons each associated with a modal"
Hi,
Thanks for the nice plugin.. I'm trying to use it to show a modal on click of a button. The page has multiple rows and columns of buttons. The issue is, the page hangs for sometime after all the buttons show up. And then it works as expected. Is there a way to optimize or remove this initial freeze?  Or is it possible to use a single modal for all the buttons? Any help is appreciated. The view

[2016-03-27 18:20] bianchimro commented on #40
hi @senthil-asdra ,
which version of the plugin are you using?
Could you make an example (a codepen or something alike)
where I can see the issue?

[2016-04-01 00:39] AdrienDC opened #41 "Search on Firebase $id"
Hi,
I've a strange issue when loading data from firebase. Both example below are displaying the same but I need to use the first one.

If I do:
`                    <button ng-change="selectChange()" modal-select hide-reset="true options-expression="cit in city" header-footer-class="bar-positive" has-search="true" modal-title="In which city are you ?" sub-header-class="bar-calm">

[2016-04-02 10:11] bianchimro commented on #41
mmmh, that's strange, your code seems ok to me.
did you try using explicit string indexing, like:
[code]
vs
[code]

If you can provide some testing code I can work with, I can try and take a look.

[2016-04-04 05:40] AdrienDC commented on #41
Hi @bianchimro ,
unfortunately I tried but without success...

I've created a codepen to illustrate my issue: http://codepen.io/AdrienDC/pen/Xdevag

thanks for your help

[2016-04-05 07:00] jgerstle opened #42 "Create NPM package"
We are currently only using npm and not bower. Can you please make an NPM package for this library in addition to the bower one?

[2016-04-05 20:00] bianchimro commented on #42
Hi @jgerstle
I'll take care of this ASAP,
Best regards

[2016-04-06 07:26] AdrienDC commented on #41
even with oderBy: '$id' it doesn't change anything :(

[2016-04-07 10:12] bianchimro commented on #41
hi @AdrienDC ,
don't really know why, but seems like adding the attribute
[code]

[2016-04-07 10:22] bianchimro commented on #10
@ulion the feature has been implemented (it's in master branch right now), but not yet documented.
You can pass an "item-class" attribute to set the class of the option items.
This will be evaluated by "ng-class" so also dynamic stuff should work.
I'm going to add docs and examples ASAP

[2016-04-07 10:51] AdrienDC commented on #41
Thanks @bianchimro ! Indeed with the master branch and this propertie it's working like a charm ;)
Strange issue though..
I think a lot of Ionic users are into firebase so it would be a great idea to mention this case in the docs.

[2016-04-07 10:51] bianchimro opened #43 "refactor docs"
Keep api close to examples (single section),
keep the division used for examples.

[2016-04-07 10:52] bianchimro commented on #41
perfect, I'm going to close this and add an issue for docs.
I agree this is strange, would be worth investigating if it's a $filter related issue.

[2016-04-07 10:52] #41 closed

[2016-04-07 10:55] bianchimro opened #44 "Mention how to fix search with firebase $id"
Using search and firebase $id causes some problems unless the attribute `search-properties` is set and contains `$id` .
This should be mentioned in README and docs, as many ionic users are firebase users.

see #41

[2016-04-07 10:55] bianchimro commented on #42
I'm going to publish to npm starting from version 1.4

[2016-04-07 22:14] ulion commented on #10
That's cool, thx~

2016-04-07 18:22 GMT+08:00 Mauro Bianchi <notifications@github.com>:

--
Ulion

[2016-04-15 05:23] SimpleDeveloper49 opened #45 "Use on <select>"
The documentation states

any chance we could get this to work for a <select> tag or are there any technical limitations why this is not possible?

[2016-04-15 20:21] bianchimro commented on #45
hi @SimpleDeveloper49 ,
the limitation is due to the current implementation of the modal opening.
see lines around:

https://github.com/inmagik/ionic-modal-select/blob/master/src/ionic-modal-select.js#L316

The modal is opened like this
[code]
(`iElement` is the element the directive is applied to)

Seems like this is not working on some tags, but If you have some suggestions to overcome this limi

[2016-04-15 20:32] SimpleDeveloper49 commented on #45
@bianchimro,

I'd say that it is purely a UI/UX consideration. I was looking for an easier way to style the drop down list option for mobile experience.

I agree, the difference in behaviour are a technical difficulty. It would be probably easier to create a custom directive element to achieve this. Given that this is not the direction this project is going, I am okay with closing this.

I did run

[2016-04-15 20:32] #45 closed

[2016-04-27 09:42] marc-martinez opened #47 "Directive option with FireBase"
Hello,
If I use a firebase object, nothing is displayed on the modal but if the same variable is hardcoded, the modal display works fine.
Any idea ?

Thanks for your help,
Marc

HTML:
[code]

Controller with Dynamic Variable:
[code]

Hardcoded variable:
[code]

[2016-04-27 09:50] bianchimro commented on #47
hi @marc-martinez
have you seen #41 ?

[2016-04-27 11:42] marc-martinez commented on #47
hi @bianchimro
Yes. I tried to set the search-properties="['$id']" but without success.

By the way, my understanding of this porerty was to limit the search on the properties listed..and trying with the static code I am still searching on all attributes...but this is not my blocking point.

It may be a clue for you but with dynamic or static data, when reopening the modal list, the preselected is

[2016-05-02 16:10] bianchimro commented on #47
hey @marc-martinez ,
sorry about the issue,  can you set up a codepen or something I can use to debug against your problem?

Also what version/commit of this repo are you using?
I'm sorry but lately a lot of changes were made, with poor updates to docs and no release on bower for a while.

regards
Mauro

[2016-05-05 10:03] PaulD11 opened #48 "Multiple Choices"
Hi,

this really a great plugin, but i can't figure out how to choose more than one options without closing the modal.

[2016-05-05 10:49] bianchimro commented on #48
hi @PaulD11 , thanks for your appreciation.
I don't understand well your use case, can you make a codepen or something similar to illustrate it?
regards

Mauro

[2016-05-05 12:22] PaulD11 commented on #48
Something like that:
![image](https://cloud.githubusercontent.com/assets/14149270/15043364/c0dfd522-12cc-11e6-852f-b5ef3f8b5256.png)
Select more than one item without closing the modal

[2016-05-05 12:48] bianchimro commented on #48
Ok, I understand now,
this is about #1, which is working now in master branch but not yet documented.

I'm going to close that issue and document it ASAP, in the meantime you could just try an
d add the `multiple` attribute to your tag and see if the result works for you

[2016-05-05 12:58] PaulD11 commented on #48
Perfect, thanks a lot!

[2016-05-11 20:41] swaheed2 opened #49 "options does not watch for array updates"
The docs says:

But look at this simple codepen. The modal doesn't update with the new array.

http://codepen.io/anon/pen/NNJOMW

Really want to use this directive, but need to get this working.

[2016-05-16 18:23] swaheed2 commented on #49
fix: https://github.com/inmagik/ionic-modal-select/pull/50

[2016-05-16 21:05] bianchimro commented on #49
hi @swaheed2 and thanks for your work . I will review it as soon as possible.

best regards

[2016-05-21 11:42] sckoh opened #51 "not scrolling to selected value"
It should scroll to selected value if there are selected value.
Eg: selection of year, if the options is from year 1900 to 2100, user would need to scroll to the bottom to select year 2000 every time user opens the modal.

[2016-05-22 09:25] bianchimro commented on #51
hi @sckoh, this is a very good idea.
Your proposal makes sense to me, the currently selected option(s) should always be easily reachable and evident.
In the case of a single option what you propose should be fine, I'm going to implement it as soon as possible , but I am quite busy right now so if you want to try and fix it and send me a PR I'll be happy to review it

regards
Mauro

[2016-05-23 04:55] AdrienDC opened #52 "iPad rendering"
Hi, it seems on iPad, the max height and max width is capped to some values, thus the new view rendering all the select option is displayed smaller than the actual iPad size..
Any idea on how to remove those max values?

Thanks

[2016-05-23 08:48] bianchimro commented on #52
hi @AdrienDC ,
thanks for reporting.
Is this happening within a cordova app or a web page?

[2016-05-23 19:15] AdrienDC commented on #52
In fact, it's a bit specific, it's a cordova app launched with ionic view.

[2016-05-24 13:25] aysyal31 commented on #48
The search functionality doesn't work in the new mainline. Is it ? can you please check.

[2016-05-24 13:36] PaulD11 commented on #48
Yes that's correct. In the single choice view it's working fine but if you add a multiple it isn't working

[2016-06-07 09:09] AdrienDC commented on #52
The issue seems similar to when you launch on navigator. It's not full screen like on a phone. Maybe it's not an issue but I was surprise by this display when I launched on iPad.

[2016-06-07 09:10] AdrienDC opened #53 "ionic icon in modal select"
Hi, is that possible to have an icon list in ionic-modal-select? I want to create a list of activity, thus I'll associate one icon for each.

Thanks

[2016-06-08 10:46] bianchimro commented on #53
ji @AdrienDC ,

this is probably already possible, but undocumented.
In fact you can totally override the template,
see this pen by @meanme

http://codepen.io/meanme/pen/ONmGzW

I am sorry I did not have time to document these features.
Let me know if this can help

[2016-06-08 10:47] bianchimro commented on #52
@AdrienDC , can you send a screenshot?

[2016-06-08 10:53] bianchimro opened #54 "Seeking co-mantainers"
Hi guys,
anyone is interested in being a co-maintainer of this module?

I don't have much time to work on it at the moment, and there is some amount of planned work and opened issues right now.

regards
Mauro

[2016-06-08 11:14] AdrienDC commented on #53
Thanks @bianchimro ! Yes it's quite helpful to try implementing this )

[2016-06-08 11:14] #53 closed

[2016-06-08 11:15] AdrienDC commented on #52
It's like on this codepen, http://codepen.io/meanme/pen/ONmGzW
the modal select page is not fullscreen

[2016-06-08 11:27] bianchimro commented on #52
I think this is the normal ionic behavior, on big screens the modal is not full page.
can we close this?

[2016-06-08 12:09] AdrienDC opened #55 "Modal select opened from popup"
Hi,
I got a new issue today while I was trying to open a modal select view from a popup.. The view stay behind the popup meaning that I can still interact with it but the view is greyed and I was hopping the view to be forward..

This css trick didn't really help
`.popup-open .backdrop {
z-index: 11;
}`

[2016-06-08 12:57] bianchimro commented on #55
mmh, interesting.
should the popup be closed before opening the select?

[2016-06-08 14:21] AdrienDC commented on #55
No, it should stay open to fill one field in the popup...

[2016-06-08 14:22] AdrienDC commented on #52
Ok then, I wasn't sure about it

[2016-06-08 14:22] #52 closed

[2016-06-08 15:15] AdrienDC commented on #55
Actually, changing the z-index of a modal to 13 is solving the issue.

[2016-06-08 15:15] #55 closed

[2016-06-09 20:21] swaheed2 commented on #49
did you get a change to review the pull request @bianchimro

[2016-06-16 12:14] iveoteam commented on #49
Hey, when can we expect this to be active? I really want to use this plugin but this issue makes it unusable for me... thanks

[2016-06-16 12:30] bianchimro commented on #49
@iveoteam don't really know when, if you want to try and use the pull request in your code you can do it just now.

[2016-06-29 15:44] marc-martinez commented on #47
Hello,
Sorry for the delay...I am working on this project once in a way...

I tried to setup a codepen but I am not able to "enable" the FireBase mechanism...http://codepen.io/MMAR/pen/XKMQmb
You may fork the CodePen and take a look...currently the codepen is working with some static data...but if you switch the model boats and boatss you should use the FireBase model.

Hope I am clear :-)

Regard

[2016-06-29 16:41] #49 closed

[2016-06-29 22:17] RupenAnjaria opened #56 "Unable to populate if the data is comming from webapi"
Hi, I have following code, to get data from api and then set in list.

`        $http.get(sharedProperties.getURLOfLanguagesWebAPI()).then(function (data) {

            allData = sharedProperties.convertXml2JSon(data.data);

            for (var i = 0; i < allData.OVRLookupData.Languages.length; i++) {
                $scope.languages.push({ "id": parseInt(allData.OVRLookupData.Languages[i].Langu

[2016-06-30 17:51] RupenAnjaria commented on #56
It's a bug: http://stackoverflow.com/questions/38125589/unable-to-update-scope-after-executing-get-call-from-http/38126400#38126400

[2016-06-30 17:53] RupenAnjaria opened #57 "Update package for the fix for the issue #49"
It seems the issue #49  has been fixed, however, the package is not yet updated.
Please have it updated, we really need this great control.

[2016-06-30 17:55] RupenAnjaria commented on #54
I can help!!

[2016-07-04 07:26] vuk-nikolic opened #58 "Publish v1.3.1 to bower?"
Hey I see there are some changes regarding multiple select in v1.3.1, but in bower I can find 1.3.0.
Any chance to update it?

[2016-07-04 13:20] bianchimro commented on #56
hi @RupenAnjaria , does this work after #49  ?

[2016-07-04 13:23] bianchimro commented on #54
hi @RupenAnjaria,
thanks for your answer.

The first think i'd like to fix is the help site.
(gh-pages branch)
see issues #36 and #43

Can you help with this?

[2016-07-04 13:42] bianchimro commented on #42
published 1.3.1-alpha.0 to npm

[2016-07-04 13:42] #42 closed

[2016-07-04 13:42] bianchimro commented on #58
just published 1.3.1-alpha.0 to bower and npm

[2016-07-04 13:42] #58 closed

[2016-07-04 13:42] #57 closed

[2016-07-05 20:15] RupenAnjaria commented on #56
Yes, it is working now.

[2016-07-05 22:43] bianchimro commented on #56
ok, closing this, thanks!

[2016-07-05 22:43] #56 closed

[2016-07-06 13:47] maniolek opened #60 "onClose event"
Is there any chance to add 'onClose' attribute which could support the event when closing a modal? Would be really great!

[2016-07-06 13:51] bianchimro commented on #60
good idea, that should be easy to implement.
Can you specify your use case?
regards

Mauro

[2016-07-06 14:09] maniolek commented on #60
I'm using $interval for requests to have some specifics data fields up-to-date. Because of refreshing records, I have to cancel that interval and invoke it again. I can use on-reset and on-select options to trigger interval again, I don't have that possibility when I close the modal.

[2016-07-06 15:35] bianchimro commented on #60
I understand. Will work on this ASAP

[2016-08-01 13:04] Stigelme commented on #47
+1. i would be also very interested how get data from firebase to ionic modal select.

[2016-08-25 10:29] Rebaiahmed commented on #1
+1

[2016-08-25 19:31] ramosinfo commented on #48
You can do it?

[2016-08-26 14:42] PaulD11 commented on #48
Yes I did it with ionic-Filter-bar

[2016-08-26 15:02] ramosinfo commented on #48
Can you send an example?

[2016-08-29 12:25] nifft commented on #10
Can you give me an example of how to use this attribute (item-class)?

[2016-08-29 16:16] nifft opened #61 "When will the next version be stable? I am waiting for it."

[2016-09-08 05:44] xloading opened #62 "modal.shown event not broadcasted"
Hi!

First of all thanks a lot indeed for great plugin!

Within my application I face one minor issue with it but it is really critical for my app.
In my case modal-select is opened from button in navbar while in the view behind it there is native Google map present (https://github.com/mapsplugin/cordova-plugin-googlemaps):
![image](https://cloud.githubusercontent.com/assets/1406364/18338075/c89a1

[2016-09-08 06:03] bianchimro commented on #62
Hi @xloading,
i'd try to use this feature of ionic:

http://ionicframework.com/docs/api/page/tap/

Instead of doing this:

[code]

You should do:

[code]
if that does not work, try and wrap your div with another div, and apply the `data-tap-disabled` there instead.
Not sure, but this could solve  your issue.

Let me know if this works!
regards

Mauro

[2016-09-08 06:32] xloading commented on #62
Hi Mauro!
Thanks for quick support, really appreciate this.

But I'm not sure that your advice indeed relates to my problem, though I have still tried to implement data-tap-disabled but it didn't work as required.

Let me clarify a bit - the problem in my case is that when Modal-Select is opened google maps native view is still active:
https://github.com/mapsplugin/cordova-plugin-googlemaps/wiki/M

[2016-09-08 15:32] swaheed2 opened #63 "Cannot read property '...' of null and Cannot read property 'toString' of null"
Search is not working. I get this error in the console:

Cannot read property '...' of null

In the code:

[code]

[2016-09-08 16:01] bianchimro commented on #63
good catch, thanks!

[2016-09-08 16:02] #63 closed

[2016-09-08 16:08] bianchimro commented on #62
Hi George,
I understand better your problem now, you are perfectly right.

To make this work, we should probably add this feature: #60
so you can do the same on the close event.
I'm a bit busy right now, but I'd like to fix #60 asap as it should be really easy to implement it.
I cannot guarantee but I'll try to do it this week.
You have a deadline on your app?

[2016-09-08 20:32] xloading commented on #62
Hi Mauro,
That's exactly what I was thinking about today - but it looks both onOpen and onClose attributes are required, strange that I have missed #60 earlier.

I'm working on my own startup app therefore no strict deadlines but it would be great if this can be enhanced within a week or so.
Would be glad to help you but I don't have any experience with Angular directives at all yet. Still will tr

[2016-09-12 11:15] deepakrsakariya opened #65 "Data list not getting loaded when using has-search="true" attribute with data loaded from SQLITE"
HTML

<button class="button button-positive" modal-select="" ng-model="voucherService.AccountName" modal-title="Select a account" options="AccountList" has-search="true" search-properties="['AccountName']">
                        Select it
                        <div class="option">
                            {{option.AccountName}}
                        </div>
                    </button>

C

[2016-09-14 20:46] #60 closed

[2016-09-14 20:54] bianchimro commented on #62
Hi, just pushed a new version with the on-close callback,
that gets fired when modal is closes (in any way).

Let me know if it works for your use case.
Regards

Mauro

[2016-09-14 20:58] bianchimro commented on #65
Hi, sorry but it's difficult to reproduce this for me.
Does your example work if the data is coming from another source?

[2016-09-14 20:59] bianchimro commented on #61
Sorry but there is no schedule here.
Just released another version with some fixes features, see if it helps.

[2016-09-14 20:59] #61 closed

[2016-09-14 21:00] bianchimro commented on #47
Maybe this issue has something in common with #65

[2016-09-14 21:01] bianchimro commented on #48
closing, duplicate of #1

[2016-09-14 21:01] #48 closed

[2016-09-14 21:02] bianchimro commented on #32
Any news on this?

[2016-09-14 21:15] bianchimro commented on #47
hi @marc-martinez I finally reviewed your pen,
it just lacks js assets and "firebase" module injection into the app.
see
http://codepen.io/bianchimro/pen/LNeZjp?editors=1010

for a working example

[2016-09-14 21:15] #47 closed

[2016-09-14 21:18] bianchimro opened #66 "Internal modal service/modal instance sharing"
In case of many instances of the directive in a single page, many modals are instantiated.
If the ionic-modal components share the same options, they could probably share a single modal instance, provided by an internal service or passed with an attribute.

[2016-09-15 04:17] deepakrsakariya commented on #65
If data is predefined then it works. But when data are loaded in controller then it fails. You can try to push json data to a list and check.

[2016-09-20 16:35] bianchimro commented on #62
Hi, any feedback on this?
I just merged a pull request that solves a problem for the "on-close" callback.
Try with the new release.

[2016-09-24 13:34] cmartin81 commented on #1
+1

[2016-09-25 23:30] #1 closed

[2016-09-25 23:30] bianchimro opened #68 "multiple selection with collection repeat"
Disabled right now.

[2016-09-25 23:31] bianchimro opened #69 "Test with latest ionic"
and see if #68 goes away..

[2016-09-25 23:32] bianchimro commented on #62
should be closable, please @xloading reopen it if it's the case.

[2016-09-25 23:32] #62 closed

[2016-09-25 23:33] bianchimro commented on #32
Closing for now @flamed68 feel free to reopen it if you have any feedback.

[2016-09-25 23:33] #32 closed

[2016-09-30 07:17] nifft opened #70 "Callback before search?"
I want to use the scroll delegate before the search input, how to do it with current interface?

[2016-09-30 08:51] bianchimro commented on #70
There's an undocumented option called `search-template` that lets you change the template for the modal. You could use that and add the events you need to tour search input.

I'll add the docs ASAP, but cannot guarantee a deadline, try and look into the source code.
see also this codepen:

http://codepen.io/meanme/pen/ONmGzW

[2016-09-30 08:52] bianchimro commented on #70
see #36

[2016-10-01 14:31] xloading commented on #62
Hi Mauro!

Apologies for late response, I was on vacations with rare internet connection.
I have checked the part related to on-close and it seems to work well indeed, thank you! But if you look once again at my original comments you can notice that my primary intention was to have the on-open callback feature.

Therefore I have proceeded with forking and minor additional change to cover this case

[2016-10-06 11:37] bianchimro commented on #62
hi George,

you are right, sorry for misunderstanding, you need "on-open".

seen your fork and opened a pr myself, this feature is interesting. will merge it asap.

It's used to do something when the modal is dismissed, either by picking a value, resetting, or just closing the modal. It's bound tho the original modal.hidden ionic event.

I analized the code better and that was a regression, that c

[2016-10-10 10:38] jitbit opened #72 "scope function inside options do not work"
`$scope.testfunc = function (blah) { return "test"; }`

`<div class="option">
         {{testfunc(option)}}
</div>`

[2016-10-20 05:56] gopi014 opened #73 "Callback function before the modal select"
I have a button as modal select and three input fields above that.On click of the button first I need to validate if all the three input fields are filled in and the modal select should open only if all the three fields has values.There is a callback method on-select which calls after the modal select is selected.But I need a callback function to validate the fields before .Any methods available c

[2016-10-20 08:44] bianchimro commented on #73
hi,
I think you should leverage `ng-disabled` for disabling the button until the validation is fine.
External validation is not in the roadmap.

regards
Mauro

Mauro

[2016-10-20 08:44] #73 closed

[2016-10-20 11:53] iosdroid opened #74 "Its possible group by the select values?"
select values group by some value its not working

[2016-10-20 12:46] bianchimro commented on #74
hi,
can you post an example?

[2016-10-21 06:42] iosdroid commented on #74
Hi I have a array like
 $scope.players = [
      {id:'1',name: 'Gene', team: 'alpha'},
      {id:'2',name: 'George', team: 'alpha'},
      {id:'3',name: 'Steve', team: 'beta'},
      {id:'4',name: 'Paula', team: 'beta'},
      {id:'5',name: 'Scruath', team: 'gamma'}
    ];

I want to show the select like
**albha**

- Gene

- George

**beta**

- Steve

- Paula

**gamma**

- Scruath

[2016-10-22 17:16] bianchimro commented on #74
Hi you can pass in a custom template, but it's not (yet) documented.
see this codepen for an example of template customization:

http://codepen.io/meanme/pen/ONmGzW

[2016-10-24 12:16] iosdroid commented on #74
I am in little confusion. can u create custom templates for my examples?

[2016-10-24 21:53] Dougbh opened #75 "this not working in version 2.1.0 of the ionic v1"
I put all the procedures can not run this version, what to do?

[2016-10-31 23:07] scottward opened #76 "Trigger modal select from JavaScript instead of click event?"
Is there a way to show the modal programmatically instead of via a click from the user?

[2016-11-01 18:55] bianchimro commented on #75
hi @Dougbh ,
what you mean with version 2.1.0 of the ionic v1?
Latest v1 is 1.3.x as of now

Am I missing something?
regards

Mauro

[2016-11-01 18:57] bianchimro commented on #74
sorry but I am quite busy at the moment.
If you are not in a hurry I will help ASAP.
Maybe you can setup a codepen so that i can edit it?

[2016-11-01 19:00] bianchimro commented on #76
hi @scottward , I'm afraid this is not possible ad the moment.

I'll keep this issue open, as this could be a nice feature to have.

As a workaround you could write a small directive that triggers "click" on its element and tie it to your controller with a $broadcast event and place on the element you use for the modal select (should work...).

best regards
Mauro

[2016-11-01 19:01] bianchimro commented on #72
hi @jitbit
can you provide a codepen or something alike to show the issue?

thanks
Mauro

[2016-11-01 20:41] scottward commented on #76
Yeah, that would work.

I was thinking it wouldn't be too difficult to pass in a `show` paramater the modal-select directive which would set up a watch and trigger the display whenever that value went to true.

You accepting pull requests?

[2016-11-01 20:46] bianchimro commented on #76
yes, this could be a good way to do it.

sure i do!

thanks
Mauro

[2016-11-03 05:56] iosdroid commented on #74
No Issues..I am Wait for your example

[2016-11-05 18:41] #75 closed

[2016-11-14 16:33] brunocollaco opened #78 "Can't use the module"
Heya!

I just clone the repo, copied <code><script src='js/ionic-modal-select.js'></script></code> and added it to my index.html, as you can see.

Also have it declared here:
<code>angular.module('starter', ['ionic', 'starter.controllers', 'starter.services','anguFixedHeaderTable', 'ionic-modal-select'])</code>

Then I made a controller like the example in http://codepen.io/bianchimro/pen/epYYQO?e

[2016-11-14 17:38] bianchimro commented on #78
hey,
if you clone the repo you should use the js file found in the "dist" folder, seems like you're using the `src` one.

Let me know if this does this fix your problem.

regards
Mauro

[2016-11-14 21:25] brunocollaco commented on #78
Yaaaaay!

It worked! Thanks a lot man!

[2016-11-14 21:25] #78 closed

[2016-11-15 12:48] calhemp commented on #76
wow, I  don't know how to do it, but it could be interesting,
I'd like to show the modal when a user click on ion-item, I don't know a way to make it possible, and this feature could be possible I think.

thanks.

[2016-11-20 13:57] zirand commented on #72
[code]

Work
[code]
vm.moment - momentJS

Do not work
[code]

vm - undefined

What is the point in the library if I can not modify the options list?

how to apply to the options list the filter with icons?
[code]

[2016-11-23 07:14] kim-tempus opened #79 "Multiple checked options"
Hey.

I am using multiple-options. Is there a way to pre-set/check options (`option.checked="true"`)?

User will pick som options, save selected data, and then late view the list again with the saved data already selected.
(I only save the value, not the object/name. So I rebuild the list with `.checked=true` myself).

[2016-11-30 11:59] ThapeloDev opened #80 "Subheader & footer"
Hello, this might be an incorrect platform to address such...

I am having a problem where my clear, cancel and reset buttons don't get displayed appropriately.
I have added ionic-modal to get a few options and list them... but however i cannot seem to center or manipulate the width of the modal to include all other items to be displayed well.

Please see the below screen dump... I have also indic

[2016-12-12 13:46] maniolek commented on #79
I can join to @kim-tempus's request. That kind of feature would be really helpful.

[2016-12-21 17:54] FilippoP opened #81 "Multiple option limit"
Is there a way to limit the number of elements selected?
For example,  I can choose up to 2 elements.
Thanks

[2017-01-03 07:33] anoopmm opened #82 "I have an ionic popover with a form. In that form i want to use ionic model select for country selection.But when i open the ionic model select it apears behind the ionic popover back drop,Is there any solution?"

[2017-01-03 11:03] bianchimro commented on #82
please use the description field to describe your issue.
thanks

[2017-01-03 11:04] #82 closed

[2017-01-04 05:43] anoopmm opened #83 "Ionic model select on ionic popover"
I have an ionic popover with a form. In that form i want to use ionic model select for country selection.But when i open the ionic model select it apears behind the ionic popover back drop,Is there any solution?

[2017-01-18 17:01] bianchimro commented on #83
Hi @anoopmm , sorry for the late answer.
Probably we could set an optional z-index option in order to override the one provided by ionic modal.

what do you think about?

[2017-02-10 14:29] bianchimro commented on #81
@FilippoP this would be a nice feature, but it's not supported as of now.

[2017-02-10 14:29] bianchimro commented on #80
hi @ThapeloDev , which platform are you developing for?

[2017-02-10 14:31] bianchimro commented on #79
hi @kim-tempus ,
pre-setting values you want to be selected on your bound ng-model doesn't work for you?

[2017-02-18 10:59] fauzie commented on #79
+1 for this.

My `ng-model` current value:
[code]

My predefined `options` attribute:
[code]

- with `option-property="value"` attribute
- and `<div class="option">{{option.label}}</div>`
- open select modal but no checked value from my `ng-model` is checked.

[2017-03-01 11:41] jkirsch opened #85 "modal-open class not removed from body element"
I repeatedly run into the error that after showing the select dialog, sometime the class "modal-open" stays on the body element.

This seems to be related to a similar issue

https://forum.ionicframework.com/t/modal-not-receiving-touch-events/8025/2

Is there something that could be done in the framework, to trigger this behavior ?

Such as

[code]

[2017-03-01 11:54] bianchimro commented on #85
hi @jkirsch , you have a codepen or something else to show the issue?
regards
Mauro

[2017-03-01 22:42] jkirsch commented on #85
Okay,

I think I found the mistake

I declared the modal in the following way

[code]

As I wanted to have the entire row clickable .. I resorted to a simple click forwarding
`angular.element(document.getElementById(elementname)).triggerHandler('click');`

But If one now clicked on the button .. actually the modal is triggered twice .. this creates two instances that are conflicting .. leading to

[2017-03-01 22:50] bianchimro commented on #85
@jkirsch thanks for reporting anyway, and for your reference solution

[2017-03-01 22:50] #85 closed

[2017-03-03 19:20] kiranagre opened #86 "ReferenceError: require is not defined"
Hi,

when i included Ionic-modal-selet in my  Ionic app i am getting **require is not defined** at ( ionic-modal-select.js:49:33)

Please let me know the solution for the same

[2017-03-04 11:48] bianchimro commented on #86
hi, you are probabily including the source and not the distribuition scripts

[2017-03-05 05:50] kiranagre commented on #86
ya i am including source script, when i included distribuition scripts issue got resolved.
thank you bro..

[2017-03-05 18:52] kiranagre commented on #86
Hi Mauro,

i am getting empty values when i am using multiple instance in same page.
for the first  tag values are coming in correct and for second tag values
are not coming correctly.

On Sat, Mar 4, 2017 at 5:18 PM, Mauro Bianchi <notifications@github.com>
wrote:

--
Thanks and Regards,
*Kiran A*

[2017-03-05 23:12] bianchimro commented on #86
hi @kiranagre ,
I'm going to close this issue as the original problem seems to be resolved.

Please  link an example to a codepen or something similar to show your issue.

regards
Mauro

[2017-03-05 23:12] #86 closed

[2017-03-21 22:18] ukenpachi commented on #83
What the update on this? Has I will like to use this in a popover and it shows the list straight away without you haven't to click on anything

[2017-03-31 12:08] aless673 opened #88 "Manual unselect"
Hi,

How can we unselect the selected values manually (when modal is closed) ?
I tried with the model but model is not passed in the scope of the directive and so the model is used only at start (init).

[2017-03-31 21:53] chuz93 opened #89 "Text of Ok button is setted hardcoded"
Looking for a way to change the text of the ok button, i realized that it's exists a directive and a variable to change that text, but in the view, where might the variable is called, there is an 'OK' text hardcoded.

[2017-04-01 21:16] boubou158 opened #91 "Change default modal template?"
Hi,

Is it possible to change the default modal template? I need to change the class of the reset button in the html code but I don't know how to do, there is no options for that.

Thanks a lot and great work by the way ;)

Rémi

[2017-04-05 06:46] sigata commented on #54
If you are still looking for co-maintainers, I can help.

[2017-04-05 09:02] bianchimro commented on #54
hi @sigata, thanks, it would be great.
are you familiar with testing? I'd like to add a test suite to the project, I have a few pull requests to review but this is a real blocker.

[2017-04-06 09:51] aless673 commented on #91
Hi,

You can use the option "search-template" :
`<button id="modalButton" modal-select
                    options="contacts"
                    ng-model="selectedContacts"
                    on-select="onChange(newValue, oldValue)"
                    search-template="templates/modal-template.html">`

Copy/paste the "modal-template.html" (or modal-template-multiple.html) in your template folder

[2017-04-06 10:02] aless673 commented on #89
Hi,

You could override the template as i explained in #91

And wait for you pull requet to be accepted :+1:

[2017-04-06 15:35] chuz93 commented on #89
Hi!
I didn't notice that feature, my mistake.
And i already made a pull request, #90
<https://github.com/inmagik/ionic-modal-select/pull/90>.

On Thu, Apr 6, 2017 at 4:02 AM, Alessandro GIULIANI <
notifications@github.com> wrote:

[2017-04-06 15:47] bianchimro commented on #91
@aless673 thanks for your clarification.

Do you think we need a "search-template-url" option in order to get a template from a path?
That would reduce the boilerplate of putting the template into the cache.

I am closing this anyway, if you feel so open a new issue about this.

regards
Mauro

[2017-04-06 15:47] #91 closed

[2017-04-06 15:58] sigata commented on #54
Sure I can help with that. Let me know what you have in mind ( like tools, libraries etc  if any)

[2017-04-06 16:31] aless673 commented on #91
@bianchimro Yes of course we need this

[2017-04-06 17:41] bianchimro commented on #54
@sigata that's great , i don't have any particular constraints in mind, and I am not am expert of js testing frameworks so I am very open to any suggestion

I find very difficult to setup meaningful tests in this case, I mean testing a directive with so many dependencies. The code should be probably refactored a bit.

let me know what you think about, a good testing strategy would be a big boost f

[2017-04-14 16:39] mmaask commented on #79
+1. I would expect that the above example works. When the modal is opened, nothing is checked unfortunately, even though the model is populated and option property specified.

[2017-04-20 18:30] DaxDev opened #92 "Display element of its choice belonging to the ng-model"
I  turn to you for a small flaw that I have. I used modal-select to select an item from a list. The element I need for the query is the id of the element. What is operational, with this code :
`<div class="item item-body">
    <a class="button button-positive" modal-select="" ng-model="form.product" options="Product" option-property="id" modal-title="Select an product" has-search="true">
      Sel

[2017-05-12 09:51] anaBellona commented on #79
@kim-tempus can you please tell us how you solved your problem, how did you rebuild the list with .checked=true
I'm trying to modify the example in the demo given in order to use the multiple option but no success so far. Is this know limitation ?
Here is the demo, modified the first searchable example into multiple select with predefined model just to check it out and point out if i'm missing som

[2017-05-17 07:43] kotromeo commented on #29
Need to make several changes:
1) http://take.ms/qLdyk
2) http://take.ms/ucyRl
3) http://take.ms/vbojh
4) http://take.ms/flRFn

[2017-05-23 23:32] eamers commented on #79
+1 for me as well.  Have tried updating the ng-model after the page is loaded as well and that also doesn't work :(

[2017-06-02 03:46] Proxy08 opened #93 "Image selection"
Is it possible to select images from ion-gallery?

[2017-06-02 13:36] aleximmanuel opened #94 "Error: [$parse:syntax] Syntax Error: Token ':' not a primary expression at column 1 of the expression"
Error: [$parse:syntax] Syntax Error: Token ':' not a primary expression at column 1 of the expression

[2017-06-04 01:24] mino922 commented on #80
Was there ever any update on this? I'm experiencing the same issue.

Also, I was wondering if it was possible to replace the buttons (cancel, reset, etc) and just use text.

[2017-06-27 14:08] mino922 opened #95 "Call Reset Function Outside of Modal"
I am trying to figure out how to call the function which resets the selected items from outside of the modal.

I have a function in one of my controllers that is called when a button is clicked. When that button is clicked I would like to call the reset function in this libraries JS file. Any recommendations on how to do this?

[2017-07-05 18:12] mino922 commented on #95
Any updates on this?

[2017-07-11 19:57] svarughese91 commented on #95
+1 on this

[2017-07-17 06:15] dcx013 opened #96 "no cancel callback ?"
no cancel callback ?

[2017-07-23 10:58] kotromeo commented on #79
+1

[2017-07-23 11:09] kotromeo commented on #79
i think there could be simple code fix to make values selected depend on model.
this code example helpm me to make all values checked http://take.ms/XSg8q

[2017-07-23 16:23] rvcroffi opened #97 "Select All button for multiple selection"
Would it be a good improvement?

[2017-08-17 22:12] Juanancon opened #98 "This plugin still working in IONIC 3?"
Anyone is still using this plugin with ionic3? I didn't find something similar but i don't know how to use it in the last version of the framework.

Anyone have a codepen or somethin?

[2017-08-22 07:47] bianchimro commented on #98
Hi @Juanancon no, this is only for ionic v1

[2017-08-22 07:47] #98 closed, assigned to nobody

[2017-08-23 12:16] durasj opened #99 "Error: collection-repeat tried to compute the height of repeated elements"
There is one error that gets reported once in a while (really only like once a month or few months even though the component is used pretty extensively). Users don't report any issues, but it still gets triggered and sent by the automated system. It's unfortunately impossible for me to reproduce.

Here is the error:
Error: collection-repeat tried to compute the height of repeated elements "option

[2017-08-24 07:19] bianchimro commented on #99
hi @durasj thanks for reporting.
Really no idea right now ... can you share a little bit of your code? (the modal-select related html should be enough)

regards

[2017-08-24 07:20] bianchimro commented on #94
hi @aleximmanuel , can you share your expression?

[2017-08-24 07:21] bianchimro commented on #95
hi, are you using the `multiple` option?
That is probably broken

[2017-08-28 08:25] mebinvarghese opened #100 "How can i open the model from controller?"
I add ionic-modal-select.js in my project
I want to open the model when new page is loading
How can i open modal the using if value is undefined

[2017-09-26 06:56] klodha commented on #79
Encountered this issue and after lot of debugging finally found this issue.

Based on @kotromeo  comment, I found the exact location where I can put `missing` code, and following is what I put. Of course, it hard coded for my case assumes that all options are `Objects` and each object has `ID` field which in common. Someone may take this approach and provide a proper fix, so just sharing here.

[c

[2017-11-08 12:56] milos-rakita opened #101 "Bug in Search"
![searchproblem](https://user-images.githubusercontent.com/20794892/32550226-904c3bb2-c48c-11e7-9117-74b89d0034fe.gif)

[2017-11-08 13:35] bianchimro commented on #101
hi @milos-rakita can you send me a codepen or something similar?
(the search should work)

[2017-11-08 13:47] milos-rakita commented on #101
[image: Убаци слике 1]
At your page
https://inmagik.github.io/ionic-modal-select/#/app/examples-search first
example

2017-11-08 14:35 GMT+01:00 Mauro Bianchi <notifications@github.com>:

[2017-11-08 13:47] milos-rakita commented on #101
At your site https://inmagik.github.io/ionic-modal-select/#/app/examples-search first Example at page.

[2017-11-08 13:47] #101 closed, assigned to nobody

[2017-11-14 09:34] milos-rakita commented on #101
Why did you close this objection, if it is not corrected?

[2017-11-14 10:59] bianchimro commented on #101
hey @milos-rakita... you close  the issue, not me.

[2018-01-29 11:04] durasj commented on #99
Hi @bianchimro,

sorry for late reply. There's simple abstraction around it to appear as a text field with the select button next to it and with translated texts etc. - nothing special.

[code]

Since the height should be pretty much very predictable and shouldn't change with screen rotation etc. I was thinking it would be maybe good to specify the item-height (54px?). Or, if users can change the

[2018-05-28 09:30] AaronMul opened #103 "enableBackdropDismiss"
Is it possible to do this with ionic-modal-select? I can't see anything in the attributes to set this to false as you can do in generic ionic modal.

Not an issue when using the app on the phone but when open on the ipad you can close the modals by tapping the off the modal dialog.

[2018-07-19 13:01] masrooranwer commented on #79
@klodha Thanks for missing code. this fixed works for me

[2018-09-04 12:34] suisun2015 commented on #99
![image](https://user-images.githubusercontent.com/18753299/45031246-4934b800-b089-11e8-85f2-cc7afddb289e.png)

I had a short trouble with this problem, and this trick solved the problem.
Just set `use-collection-repeat` attribute `FALSE`.
[code]
Why? Cos if the list has a number of options greater than `short-list-break` (default = 10) the modal will be rendered with ionic `collection-repeat` dir

[2018-09-04 12:49] durasj commented on #99
@suisun2015 I actually wanted the `collection-repeat` because the lists were sometimes huge. I've created a PR #102 that fixes it.

Anyway, it seems the author is no longer maintaining this repo.

[2018-11-01 07:27] bambang-ap opened #104 "Divider"
Can I put divider on data modal, for grouping data category?

[2019-08-07 13:39] #74 closed

[2019-09-17 09:17] #80 closed

[2020-11-20 01:57] lushangwuhaodewuhao opened #105 "ionic1: item is selected but is not show the selected item"